@media (min-width: 769px) {
  .client-feedback {
    color: black;
    background-color: #f7f6f6;
    text-align: center;
    padding: 50px 0;
    font-family: GothamProLight;
    width: 65%;
    margin: 25px auto; }
    .client-feedback .h3 {
      font-family: GothamProBold;
      font-variant: all-small-caps;
      font-size: 32px;
      letter-spacing: 0.1px; }
    .client-feedback .newlyweds-img-feedback {
      display: block;
      margin: 50px auto; }
    .client-feedback .feedback-text {
      font-size: 18px;
      margin: 0 2.5vw; }
    .client-feedback .names-n-dates {
      margin: 50px 0;
      line-height: 32px; }
      .client-feedback .names-n-dates .h3 {
        font-variant: initial;
        font-size: 24px;
        font-family: GothamProMedium; }
      .client-feedback .names-n-dates .names-n-dates {
        font-size: 20px; } }
