@media (max-width: 768px) {
  .equipment {
    text-align: center;
    padding: 50px 5%;
    font-family: GothamProRegular;
    margin-bottom: 50px; }
    .equipment .h3 {
      font-family: GothamProBold;
      font-variant: all-small-caps;
      font-size: 36px; }
    .equipment .equipment-options-lead {
      font-family: GothamProLight;
      margin: 25px auto;
      font-size: 18px; }
      .equipment .equipment-options-lead a {
        color: #D5A14F; }
    .equipment .card-deck .row .card {
      border: none;
      width: 99%; }
    .equipment .equipment-mobile #equipment-carousel .carousel-indicators {
      bottom: -75px; }
      .equipment .equipment-mobile #equipment-carousel .carousel-indicators li {
        border-radius: 8px;
        margin: 0 6px;
        width: 8px;
        height: 8px;
        background-color: #d8d8d8; }
        .equipment .equipment-mobile #equipment-carousel .carousel-indicators li.active {
          background-color: #D5A14F; }
    .equipment .equipment-mobile #equipment-carousel .carousel-inner margin
    .carousel-item .card-title,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item.active .card-title,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-left .card-title,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-right .card-title {
      font-family: GothamProMedium;
      font-size: 20px;
      margin-bottom: 4px; }
    .equipment .equipment-mobile #equipment-carousel .carousel-inner margin
    .carousel-item .card-text,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item.active .card-text,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-left .card-text,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-right .card-text {
      font-family: ProximaNovaRegular;
      font-size: 19px; }
    .equipment .equipment-mobile #equipment-carousel .carousel-inner margin
    .carousel-item .card-img-top,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item.active .card-img-top,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-left .card-img-top,
    .equipment .equipment-mobile #equipment-carousel .carousel-inner .carousel-item-right .card-img-top {
      width: 75%; } }
@media (min-width: 769px) {
  .equipment {
    color: black;
    text-align: center;
    padding: 50px 0;
    font-family: GothamProLight; }
    .equipment .h3 {
      font-family: GothamProBold;
      font-variant: all-small-caps;
      font-size: 32px;
      letter-spacing: 0.1px; }
    .equipment .equipment-options-lead {
      width: 45%;
      margin: 25px auto;
      font-size: 19px; }
      .equipment .equipment-options-lead a {
        color: #D5A14F; }
    .equipment .card-deck {
      width: 80%;
      margin: 0 auto; }
      .equipment .card-deck .row {
        width: 100%;
        margin: 25px; }
        .equipment .card-deck .row .card {
          border: none; }
          .equipment .card-deck .row .card .card-img-top {
            width: 90%;
            margin: 0 auto; }
            .equipment .card-deck .row .card .card-img-top .small-img {
              width: 50% !important; }
          .equipment .card-deck .row .card .card-block .card-title {
            font-family: GothamProMedium;
            font-size: 19px;
            margin-bottom: 4px; }
          .equipment .card-deck .row .card .card-block .card-text {
            font-family: ProximaNovaRegular;
            font-size: 19px; } }

/*# sourceMappingURL=equipment.css.map */
