@media (max-width: 991px) {
  nav {
    border-bottom: 1px solid #ccc;
    background-color: #fff !important; }

  .nav-container {
    width: 100%;
    height: 40px; }
    .nav-container .navbar-brand {
      top: 0;
      width: 18%;
      margin: 0;
      padding: 0;
      padding-left: 10px; }
      .nav-container .navbar-brand img {
        position: absolute;
        top: 8px;
        left: 12px;
        width: 50px; }
    .nav-container a.navbar-text {
      height: 34px;
      position: relative;
      top: 0px;
      width: 63%;
      text-align: center;
      font-family: PlayfairDisplayBold;
      font-variant: all-small-caps;
      padding: 0;
      letter-spacing: 1px;
      color: #2e333d;
      text-decoration: none;
      font-size: 28px; }
      .nav-container a.navbar-text .brandname {
        transform: translateY(-5px); }
      .nav-container a.navbar-text .capitalized {
        font-size: 115%; }
    .nav-container .navbar-toggler {
      position: relative;
      bottom: 3px;
      border: none;
      margin: 0;
      padding: 0;
      width: 10%;
      text-align: right;
      font-size: 26px; }
      .nav-container .navbar-toggler .menu-button {
        position: relative;
        top: 0; }
    .nav-container .mobile-menu {
      border-top: 2px solid #f7f6f6;
      width: 100%;
      height: 100%;
      background-color: #fff; }
      .nav-container .mobile-menu li.nav-item {
        text-align: center;
        font-family: ProximaNovaBold;
        font-size: 14px;
        /*&:nth-last-of-type(2)::after {
          display: none;
        }*/ }
        .nav-container .mobile-menu li.nav-item.active .nav-link {
          color: #D5A14F; }
        .nav-container .mobile-menu li.nav-item:first-child {
          margin-top: 18px; }
        .nav-container .mobile-menu li.nav-item::after {
          content: "\00B7";
          display: block;
          color: #9FA3A7; }
        .nav-container .mobile-menu li.nav-item:last-of-type {
          margin-bottom: 0; }
        .nav-container .mobile-menu li.nav-item:last-of-type::after {
          display: none; }
        .nav-container .mobile-menu li.nav-item .nav-link {
          text-align: center;
          color: #9FA3A7; }

  .navbar {
    width: 100%;
    height: 50px;
    z-index: 5;
    padding: 0;
    border-bottom: 2px solid #f7f6f6; }

  span.icon-e-icon {
    color: #D5A14F; }

  button.btn.submit-request {
    margin: 5% 0;
    padding: 15px 30px;
    border-radius: .55rem;
    background-image: linear-gradient(to bottom, #eac37f, #bca05c);
    background-repeat: repeat-x;
    border: none;
    color: #fff;
    font-family: ProximaNovaSemibold;
    font-size: 13px;
    letter-spacing: 2px; }

  div.social-buttons {
    background-color: #f7f6f6;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 20px; }

  div.social-button-address {
    font-family: ProximaNovaLight;
    font-size: 15px; }

  div.social-buttons-pics {
    margin-top: 0.4em;
    font-size: 32px; }

  .social-buttons-pics > span {
    padding: 0 0.21em; }

  .toggler-invisible {
    display: none; }

  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .navbar-toggler:focus {
    box-shadow: none;
    outline: none; }

  .toggle-navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; }

  .toggle-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* The main point: */
    overflow-y: auto;
    /* Optional but highly reccomended: enables momentum scrolling on iOS */
    -webkit-overflow-scrolling: touch; }

  .toggle-html {
    overflow: hidden; }

  .toggle-body {
    overflow: visible;
    height: 100%; }

  .call {
    font-size: 18px;
    font-family: ProximaNovaLight;
    font-variant: normal; }

  .tel {
    height: 15px;
    font-size: 14px;
    font-family: ProximaNovaSemibold;
    color: #D5A14F; }

  .icon-x-icon:before {
    position: relative;
    font-size: 115%;
    top: 13px; }

  .desktop-version {
    display: none; }

  .height-50 {
    height: 50px; } }
@media (min-width: 992px) {
  nav {
    background-color: #fff; }

  .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 1%; }
    .nav-container .navbar-brand {
      margin-right: 0;
      padding: 0; }
      .nav-container .navbar-brand img {
        width: 95px;
        height: 64px; }
    .nav-container .navbar-text {
      display: none; }
    .nav-container .toggler-invisible {
      display: none; }
    .nav-container .collapse.navbar-collapse {
      width: 48%; }
      .nav-container .collapse.navbar-collapse .navbar-nav {
        width: 100%;
        justify-content: space-between;
        height: 100%; }
        .nav-container .collapse.navbar-collapse .navbar-nav .order-button {
          align-self: center; }
        .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item {
          display: flex;
          flex-direction: row;
          font-family: ProximaNovaBold;
          font-size: 15px;
          letter-spacing: 0.15vw; }
          .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item:last-of-type .nav-div .nav-link::after {
            display: none; }
          .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item .nav-div {
            display: flex;
            flex-direction: column;
            justify-content: center; }
          .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item .nav-link {
            text-align: center;
            color: #9FA3A7;
            margin: 0 10px;
            padding: 0; }
            .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item .nav-link.active {
              color: #D5A14F; }
            .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item .nav-link:hover {
              color: #bca05c; }
            .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item .nav-link::after {
              content: "\00B7";
              color: #9FA3A7;
              position: relative;
              left: 10px;
              top: -0.1vw; }
          .nav-container .collapse.navbar-collapse .navbar-nav li.nav-item button {
            font-family: ProximaNovaSemibold;
            color: #bca05c;
            background: transparent;
            border-radius: 9px;
            border-color: #D6B46A;
            border-width: 2px;
            padding: 8px 8px;
            font-size: 15px;
            letter-spacing: 2px;
            width: 130px;
            height: 49px; }
        .nav-container .collapse.navbar-collapse .navbar-nav div.social-buttons {
          display: none; }
        .nav-container .collapse.navbar-collapse .navbar-nav div.flex-space-btw-block {
          flex-grow: 1;
          border: 1px solid red; }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto; }

  .mobile-version {
    display: none; }

  nav.navbar {
    padding: 0 1%;
    height: 90px; } }

/*# sourceMappingURL=navbar.css.map */
