@media (max-width: 968px) {
  .portfolio {
    background-color: #f7f6f6;
    padding: 2.5% 10% 5%;
    text-align: center;
    z-index: 1; }
    .portfolio .portfolio-head {
      padding: 5% 0;
      text-align: center; }
      .portfolio .portfolio-head .h4 {
        font-size: 6vw;
        font-family: GothamProBold;
        vertical-align: top; }
      .portfolio .portfolio-head .portfolio-attire {
        font-size: 9vw; }
    .portfolio .other-projects {
      margin: 1em auto;
      width: 70%; }
      .portfolio .other-projects .other-projects-button {
        font-variant: all-small-caps;
        font-family: ProximaNovaSemibold;
        color: #171616;
        background: transparent;
        border-radius: 9px;
        border-color: #D5A14F;
        width: 99%;
        margin: 0.11em 0;
        padding: 0.7em 0;
        font-size: 1em;
        letter-spacing: 0.1em; }
    .portfolio .portfolio-teaser {
      text-align: left;
      margin-bottom: 10%; }
      .portfolio .portfolio-teaser .h3 {
        color: #D5A14F;
        font-variant: all-small-caps;
        font-size: 1.6rem; }
      .portfolio .portfolio-teaser p {
        margin-top: 1.2em;
        font-family: GothamProRegular; }
    .portfolio .portfolio-story {
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 5% 5% 0;
      margin-bottom: 10%; }
      .portfolio .portfolio-story .card-body {
        padding-left: 0;
        padding-right: 0;
        font-family: GothamProRegular; }
        .portfolio .portfolio-story .card-body .card-title {
          font-size: 1.1em; }
        .portfolio .portfolio-story .card-body .card-text {
          font-family: PlayfairDisplayRegular;
          color: #838383;
          margin-bottom: 10%; } }
@media (min-width: 969px) {
  .portfolio {
    background-color: #f7f6f6;
    text-align: center; }
    .portfolio .portfolio-head {
      padding: 75px 0;
      text-align: center; }
      .portfolio .portfolio-head .h4 {
        font-size: 34px;
        font-family: GothamProMedium;
        vertical-align: top;
        line-height: 48px; }
      .portfolio .portfolio-head .portfolio-attire {
        font-size: 64px; }
    .portfolio .portfolio-story {
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 2% 2% 0;
      margin-bottom: 7.5%; }
      .portfolio .portfolio-story .card-body {
        padding: 25px 0;
        font-family: GothamProRegular; }
        .portfolio .portfolio-story .card-body .card-title {
          font-size: 24px; }
        .portfolio .portfolio-story .card-body .card-text {
          font-family: PlayfairDisplayRegular;
          color: #838383;
          margin-bottom: 50px;
          font-size: 24px; }
        .portfolio .portfolio-story .card-body .portfolio-link {
          font-size: 18px; }
    .portfolio .other-projects {
      background-color: #f7f6f6;
      width: 100%;
      padding: 5vh 0 10vh; }
      .portfolio .other-projects .other-projects-button {
        font-variant: all-small-caps;
        font-family: ProximaNovaSemibold;
        color: #171616;
        background: transparent;
        border-radius: 9px;
        border-color: #D5A14F;
        width: 250px;
        padding: 20px 20px;
        font-size: 18px;
        letter-spacing: 2px; }
    .portfolio .portfolio-masonry {
      width: 1000px;
      margin: 0 auto;
      column-count: 2;
      column-gap: 50px; }
      .portfolio .portfolio-masonry .card {
        margin-bottom: 50px;
        border: none;
        border-radius: 0; }
        .portfolio .portfolio-masonry .card.initiator {
          margin-bottom: 25px; }
        .portfolio .portfolio-masonry .card .card-body .card-title {
          font-size: 24px; }
        .portfolio .portfolio-masonry .card .card-body .card-text {
          font-family: PlayfairDisplayRegular;
          color: #838383;
          margin-bottom: 50px;
          font-size: 24px; }
        .portfolio .portfolio-masonry .card .card-body .portfolio-link {
          font-size: 18px; }
        .portfolio .portfolio-masonry .card .card-body.portfolio-teaser {
          background-color: #f7f6f6;
          text-align: left;
          margin: 0;
          padding: 25px;
          padding-bottom: 5px; }
          .portfolio .portfolio-masonry .card .card-body.portfolio-teaser .h3 {
            font-family: GothamProBold;
            color: #D5A14F;
            text-transform: uppercase;
            font-size: 28px; }
          .portfolio .portfolio-masonry .card .card-body.portfolio-teaser p {
            margin-top: 25px;
            font-family: GothamProRegular;
            font-size: 24px;
            margin-bottom: 0; }

  .portfolio-page {
    padding-bottom: 50px; }
    .portfolio-page .portfolio-head {
      padding: 50px 0; }
    .portfolio-page .portfolio-teaser p {
      line-height: normal; } }

/*# sourceMappingURL=portfolio.css.map */
