@media (max-width: 991px) {
  .team-slider {
    background-color: #f7f6f6;
    text-align: center;
    padding: 25px 0; }
    .team-slider .h3 {
      font-family: GothamProBold;
      font-variant: all-small-caps;
      font-size: 36px;
      margin-bottom: 25px; }
    .team-slider .team-carousel {
      width: 100%; }
      .team-slider .team-carousel ul.slick-dots li.slick-active button::before {
        color: #D5A14F; }
      .team-slider .team-carousel ul.slick-dots li button::before {
        font-size: 40px;
        color: #9FA3A7; }
      .team-slider .team-carousel div.slick-list .img-cover {
        text-align: center;
        margin: 40px auto 25px;
        height: 180px;
        width: 200px;
        clip-path: url("#CircleClip"); }
        .team-slider .team-carousel div.slick-list .img-cover img {
          display: initial !important; }
      .team-slider .team-carousel div.slick-list h5 {
        font-family: GothamProBold;
        text-shadow: none;
        font-size: 24px; }
      .team-slider .team-carousel div.slick-list .lead {
        font-family: GothamProLight;
        font-size: 15px; }
      .team-slider .team-carousel div.slick-list .team-member-description {
        font-family: ProximaNovaRegular;
        font-size: 17px;
        margin-bottom: 25px;
        padding: 0 15px; } }
@media (min-width: 992px) {
  .team-slider {
    background-color: #f7f6f6;
    text-align: center;
    padding: 50px 0;
    font-family: GothamProLight; }
    .team-slider ul.slick-dots {
      margin-top: 25px; }
      .team-slider ul.slick-dots li.slick-active button::before {
        color: #D5A14F; }
      .team-slider ul.slick-dots li button::before {
        font-size: 30px;
        color: #9FA3A7; }
    .team-slider .h3 {
      font-family: GothamProBold;
      text-transform: uppercase;
      font-size: 24px; }
    .team-slider .team-carousel {
      width: 100%; }
      .team-slider .team-carousel button.slick-prev.slick-arrow {
        width: 50px;
        height: 50px;
        left: 5% !important;
        z-index: 1; }
        .team-slider .team-carousel button.slick-prev.slick-arrow:before {
          left: 5% !important;
          content: ',';
          font-family: 'weddingmovies';
          font-size: 45px;
          color: #D5A14F; }
      .team-slider .team-carousel button.slick-next.slick-arrow {
        right: 5% !important;
        width: 50px;
        height: 50px; }
        .team-slider .team-carousel button.slick-next.slick-arrow:before {
          content: '.';
          font-family: 'weddingmovies';
          font-size: 45px;
          color: #D5A14F; }
      .team-slider .team-carousel .img-cover {
        text-align: center;
        margin: 40px auto 0;
        height: 180px;
        width: 200px;
        clip-path: url("#CircleClip"); }
        .team-slider .team-carousel .img-cover img {
          margin: 0 auto; }
      .team-slider .team-carousel div h5 {
        font-family: GothamProBold;
        text-shadow: none;
        font-size: 24px; }
      .team-slider .team-carousel div .lead {
        font-family: GothamProRegular;
        font-size: 16px;
        margin-bottom: 30px; }
      .team-slider .team-carousel div .team-member-description {
        font-family: ProximaNovaRegular;
        font-size: 16px;
        width: 850px;
        margin: 0 auto 25px; } }

/*# sourceMappingURL=team-slider.css.map */
