@media (min-width: 769px) {
  .client-feedback {
    color: black;
    background-color: #f7f6f6;
    text-align: center;
    padding: 50px 0;
    font-family: GothamProLight;
    width: 65%;
    margin: 25px auto;
   .h3 {
     font-family: GothamProBold;
     font-variant: all-small-caps;
     font-size: 32px;
     letter-spacing: 0.1px;
   }
    .newlyweds-img-feedback {
      display: block;
      margin: 50px auto;
    }
    .feedback-text {
      font-size: 18px;
      margin: 0 2.5vw;
    }
    .names-n-dates {
      margin: 50px 0;
      line-height: 32px;
      .h3 {
        font-variant: initial;
        font-size: 24px;
        font-family: GothamProMedium;

      }
      .names-n-dates {
        font-size: 20px;
      }


    }




  }
}