@media (max-width: 769px) {
  .contacts-section {
    background-color: #f7f6f6;
    text-align: center;
  }
  .contacts-head {
    display: flex;
    justify-content: center;
    padding: 25px 0 75px;
      .h4 {
        font-size:20px;
        line-height: 20px;
      }
    .contacts-attire {
      font-size: 48px;
    }
      p {
        position: absolute;
        top: 160px;
        left:0;
        right:0;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        font-size: 14px;
        //letter-spacing: 0.4px;
      }
  }
  .contacts-map {
    margin: 25px 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    #contacts-map-col2 {
      .send-request {
        margin: 25px 0 50px;
        font-family: ProximaNovaSemibold;
        color: #bca05c;
        background: transparent;
        border-radius: 9px;
        border-color: #D5A14F;
        border-width: 2px;
        font-size: 14px;
        letter-spacing: 2px;
        padding: 0px 20px;
        height: 50px;
      }
      h2 {
        font-size: 22px;
      }
      .contact-info {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        font-size: 14px;
        .tel {
          font-family: GothamProRegular;
          color: black;
          margin-bottom: 5px;
        }
        .email {
          font-size: 16px;
          color: #D5A14F;
          font-family: ProximaNovaLight;
          }
        }
    }
    #contacts-map-col1 {
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .contacts-section {
    background-color: #f7f6f6;
    .contacts-head {
      text-align: center;
      padding: 40px 0 60px;
      p {
        position: absolute;
        left:0;
        right:0;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
        font-size: 16px;
        //letter-spacing: 0.4px;
      }
      .h4 {
        font-size: 32px;
        line-height: 46px;
        padding: 0 45px;
        vertical-align: top;
      }
      .contacts-attire {
        font-size: 64px;
      }
    }
    .contacts-map {
      width: 90%;
      margin: 0 auto;
      padding: 50px 0;
      display: flex;
      flex-direction: row;
        #contacts-map-col1 {
          width: 50%;
          margin-right: 5%;
          text-align: right;
          & > ymaps {
            display: block;
            float: right;
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          }
          
          img {
            box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
            height: 400px;
          }
        }
        #contacts-map-col2 {
          .send-request {
            margin: 50px 0;
            font-family: ProximaNovaSemibold;
            color: #bca05c;
            background: transparent;
            border-radius: 9px;
            border-color: #D5A14F;
            border-width: 2px;
            font-size: 14px;
            letter-spacing: 2px;
            padding: 0px 20px;
            height: 49px;
          }
          .contact-info {
            display: flex;
            flex-direction: column;
            margin: 40px 0;
            font-size: 22px;
            .tel {
              font-family: GothamProRegular;
            }
            .email {
              font-size: 22px;
              color: #D5A14F;
              font-family: ProximaNovaLight;
            }
          }
          .address {
            p {
              font-size: 22px;
            }
          }
      }
    }
  }
}

