@media (min-width: 769px) {
  .feature {
    background-color: #f7f6f6;
    text-align: center;
    padding: 7.5vh 10vw;
    font-family: GothamProRegular;
    border: 1px solid salmon;

    .h3 {
      font-size: 20px;
    }
    .featured-text {
      padding: 5vh 0;
      .h2 {
        font-size: 54px;
        font-family: GothamProLight;
      }
    }

    .two-column-feature-text {
      width: 72.5vw;
      margin: 0 auto;
      display: flex;



      text-align: left;
      font-family: GothamProLight;
      font-size: 18px;

      .column {
        width: 50%;
        .subcolumn {
          width: 95%;
        }
      }
    }
  }



}