@media (max-width: 992px) {
 .feedback-section {
   background-color: #f7f6f6;
   padding-bottom: 50px;
   .feedback-head {
     display: flex;
     justify-content: center;
     padding: 35px 0 35px;
     .h4 {
       font-family: GothamProMedium;
       font-size: 24px;
       line-height: 50px;
       vertical-align: top;
       padding: 0 20px;
     }
     .feedback-attire {
       font-size: 64px;
     }
   }
   .card-columns {
     width: 87%;
     margin: 0 auto;
     column-count: 1;
     .card {
       border: none;
       border-radius: 0;
       margin-bottom: 50px;
       .card-body {
         margin-bottom: 25px;

         .link-section {
           text-align: center;
           text-decoration: underline;
           font-family: ProximaNovaLight;
           font-size: 20px;
           margin-bottom: 10px;
         }

         .card-text {
           padding: 20px;
           font-size: 18px;
         }



         .feedback-people {
           text-align: center;
           margin: 25px auto;
           h5 {
             font-size: 24px;
             font-family: GothamProMedium;
           }
           .img-wraper {
             clip-path: url('#myClip');
             margin: 0 auto;
             width: 300px;
             height: 175px;
             padding:0;
             img {
               width: 100%;
             }
           }

           .lead {
             font-family: GothamProRegular;
             font-size: 15px;
           }
         }
       }
     }
   }
 }
}

@media (min-width: 993px) {
  .feedback-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f7f6f6;

    .feedback-head {
      padding: 50px 0 25px;
      text-align: center;
      .h4 {
        font-size: 34px;
        line-height: 62px;
        padding: 22px;
        vertical-align: top;
        font-family: GothamProMedium;
      }
      .feedback-attire {
        font-size: 72px;
      }
    }
    .card-columns {
      width: 80%;
      margin: 0 auto;
        column-count: 2;
        .card {
          border: none;
          margin: 25px;
          width: 90%;
          .card-body {
            .link-section {
              text-align: center;
              text-decoration: underline;
              font-family: ProximaNovaLight;
              font-size: 20px;
              margin-bottom: 50px;
            }
            .card-text {
              padding: 25px;
              font-size: 18px;
            }
            .feedback-people {
              text-align: center;
              width: 100%;
              margin: 50px auto 0;
              h5 {
                font-size: 22px;
                font-family: GothamProMedium;
                letter-spacing: 0.2px;
              }
              img {
                display: block;
                margin: 0 auto;
                //margin-bottom: 25px;
                width: 300px;
                height: 175px;
                clip-path: url('#myClip');
              }
              .lead {
                font-family: GothamProRegular;
                font-size: 15px;
              }
            }
          }
        }
    }
    .load-more-feedback {
      text-align: center;
      padding: 25px 0 100px;
      a {
        font-family: ProximaNovaLight;
        color: #D5A14F;
        font-size: 22px;
      }
    }
  }
}