@media (max-width: 968px) {
  .footer {
    background-color: #f7f6f6;
    padding: 5%;
    text-align: center;
    font-family: ProximaNovaLight;


    .contacts {
      padding: 2.5% 0;
      font-size: 16px;
      .company-title {
        font-family: ProximaNovaSemibold;
      }
      .address {
        font-family: ProximaNovaLight;
      }
      .tel {
        font-family: GothamProRegular;
        color: #bca05c;
      }
    }

    .author {
      font-size: 16px;
      a {
        color: #bca05c;

      }
    }
  }
}






@media (min-width: 969px) {
  .footer {
    padding: 25px;
    background-color: #f7f6f6;
    overflow: hidden;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    .social-buttons-pics {
      width: 20%;
      padding-left: 25px;
      font-size: 36px;
      span {
        padding-left: 1vw;
      }
    }
    .contacts {
      width: 62%;
      text-align: center;
      font-size: 16px;
      .company-title {
        font-family: ProximaNovaSemibold;
      }
      .address {
        font-family: ProximaNovaLight;
      }
      .tel {
        font-family: GothamProRegular;
        color: #bca05c;
      }
    }
    .author {

      width: 18%;
      a {
        color: #bca05c;
      }
    }
  }
  .footer::after {
    content: "";
    clear: both;
    display: table;
  }
}