@media (max-width: 768px) {

  .footer {
    background-color: #f7f6f6;
    padding: 5%;
    text-align: center;
    font-family: ProximaNovaLight;

    .contacts {
      padding: 2.5% 0;

      .company-title {
        font-family: ProximaNovaSemibold;
      }
      .address {
        font-family: ProximaNovaLight;
      }
      .tel {
        font-family: GothamProRegular;
        color: #bca05c;
      }
    }

    .author {
      a {
        color: #bca05c;

      }
    }
  }
}

