@media (max-width: 768px) {

  .footer {
    background-color: #f7f6f6;
    padding: 5%;
    text-align: center;
    font-family: ProximaNovaLight;

    .contacts {
      padding: 2.5% 0;
      font-size: 14px;
      .company-title {
        font-family: ProximaNovaSemibold;
      }
      .address {
        font-family: ProximaNovaLight;
      }
      .tel {
        font-family: GothamProRegular;
        color: #bca05c;
      }
    }

    .author {
      font-size: 14px;
      a {
        color: #bca05c;

      }
    }
  }
}

@media (min-width: 769px) {
  .footer {
    padding: 2vw;
    background-color: #f7f6f6;
    overflow: hidden;
    font-size: 18px;
    .social-buttons-pics {
      float: left;
      width: 20vw;
      padding-left: 2vw;
      font-size: 36px;
      span {
        padding-left: 0.5vw;
      }
    }
    .contacts {
      float: left;
      width: 53vw;
      text-align: center;
      .company-title {
        font-family: ProximaNovaSemibold;
      }
      .address {
        font-family: ProximaNovaLight;
      }
      .tel {
        font-family: GothamProRegular;
        color: #bca05c;
      }
    }
    .author {
      float: right;
      width: 20vw;
      a {
        color: #bca05c;
      }
    }
  }
  .footer::after {
    content: "";
    clear: both;
    display: table;
  }
}