@media (max-width: 768px) {
  .portfolio {
    background-color: #f7f6f6;
    padding: 2.5% 10% 5%;
    text-align: center;
    z-index: 1;
    .portfolio-head {
      padding: 5% 0;
      text-align: center;
      .h4 {
        font-size: 6vw;
        font-family: GothamProBold;
        vertical-align: top;
      }
      .portfolio-attire {
        font-size: 9vw;
      }
    }
    .other-projects {
      margin: 1em auto;
      width: 70%;
      .other-projects-button {
        font-variant: all-small-caps;
        font-family: ProximaNovaSemibold;
        color: #171616;
        background: transparent;
        border-radius: 9px;
        border-color: #D5A14F;
        width: 99%;
        margin: 0.11em 0;
        padding: 0.7em 0;
        font-size: 1em;
        letter-spacing: 0.1em;
      }
    }
    .portfolio-teaser {
      text-align: left;
      margin-bottom: 10%;
      .h3 {
        color: #D5A14F;
        font-variant: all-small-caps;
        font-size: 1.6rem;
      }
      p {
        margin-top: 1.2em;
        font-family: GothamProRegular;
      }
    }

    .portfolio-story {
      background-color: #fff;
      border-radius: 0;
      border: 0;
      padding: 5% 5% 0;
      margin-bottom: 10%;

      .card-body {
        padding-left: 0;
        padding-right: 0;
        font-family: GothamProRegular;

        .card-title {
          font-size: 1.1em;
        }
        .card-text {
          font-family: PlayfairDisplayRegular;
          color: #838383;
          margin-bottom: 10%;
        }
      }
    }
  }
}


@media (min-width: 769px) {
 .portfolio {
   background-color: #f7f6f6;
   text-align: center;
   .grid {
     position: relative;
     width: 70%;
     max-width: 1000px;

     margin: 0 auto;
     margin-bottom: 75px;

     .grid-item {
        position: absolute;
        margin-left: 0;
        margin-bottom: 25px;
        max-width: 500px;
     }
   }
   .portfolio-head {
     padding: 3.5vw 0;
     text-align: center;
     .h4 {
       font-size: 2.1vw;
       font-family: GothamProBold;
       vertical-align: top;
     }
     .portfolio-attire {
       font-size: 3.5vw;
     }
   }

   .portfolio-teaser {
     text-align: left;
     margin: 0;
     padding: 0 25px;
     .h3 {
       color: #D5A14F;
       font-variant: all-small-caps;
       font-size: 28px;
     }
     p {
       margin-top: 1vw;
       font-family: GothamProRegular;
       font-size: 22px;
     }
   }
   .portfolio-story {
     background-color: #fff;
     border-radius: 0;
     border: 0;
     padding: 2% 2% 0;
     margin-bottom: 7.5%;
     .card-body {
       padding: 25px 0;
       font-family: GothamProRegular;
       .card-title {
         font-size: 22px;
       }
       .card-text {
         font-family: PlayfairDisplayRegular;
         color: #838383;
         margin-bottom: 50px;
         font-size: 18px;
       }
       .portfolio-link {
         font-size: 16px;
       }
     }
   }
   .other-projects {
     background-color: #f7f6f6;
     width: 100%;
     padding: 5vh 0 10vh;
     .other-projects-button {
       font-variant: all-small-caps;
       font-family: ProximaNovaSemibold;
       color: #171616;
       background: transparent;
       border-radius: 9px;
       border-color: #D5A14F;
       width: 250px;
       padding: 20px 20px;
       font-size: 18px;
       letter-spacing: 2px;
     }
   }
 }
}




