@media (min-width: 769px) {
  .portfolio-detailed {
    .decorated-ampersand {
      color: #ecad9c;
      padding: 0 !important;
    }
    .equipment {
      .card-text {
        font-family: PlayfairDisplayRegular;
        color: #838383;
        padding-top: 28px;
        font-size: 20px;
        .price {
          color:  #D5A14F;
          font-family: GothamProRegular;
        }
      }
      .card-deck {
        margin-bottom: 37.5px;
        .card {
          background-color: #f7f6f6;
        }
      }

    }
  }
}