@media (min-width: 769px) {
  .portfolio-detailed {
    .decorated-ampersand {
      color: #ecad9c;
      padding: 0 !important;
    }
    .equipment {
      padding-bottom: 0;
      .card-text {
        font-family: PlayfairDisplayRegular;
        color: #838383;
        padding-top: 25px;
        font-size: 18px;
      }
      .card-deck {
        margin-bottom: 37.5px;
        .card {
          background-color: #f7f6f6;


        }
      }
    }
  }
}