@media (max-width: 991px) {
  .submit-request {
    padding: 25px 5% 25px;
    text-align: center;
    .heading {
      text-transform: uppercase;
      font-family: GothamProBold;
      color: #171616;
      font-size: 2em;
      line-height: 1.1em;
    }
    .submit-request-form {
      margin: 25px 0 0;
      .submit-request-input {
        padding: 1em;
        border: 1px solid #D5A14F;
        margin: 2.5%;
        width: 90%;
        color: black;
        outline: none;
        &[value=""] {
          color: #838383;
        }
        &:focus {
          color: black;
        }

        &.your-story {
          resize: none;
          outline: none;
        }
      }
      .submit-request-form-button {
        border-radius: 10px;
        background-image: linear-gradient(to bottom, #eac37f, #bca05c);
        border: none;
        color: #fff;
        font-family: GothamProMedium;
        font-size: 18px;
        font-variant: all-small-caps;
        padding: 10px 25px;
        margin: 25px 0 25px;
        }
      }
    .privacy-policy {
      font-family: ProximaNovaLight;
      //font-size: 0.9em;
      padding: 0 5%;
      margin: 0;
      a {
        color: #2e333d;
        text-decoration: underline;
        text-decoration-color: #2e333d;
      }
    }
  }
  .submit-request.about-us,
  .submit-request.feedback {
    .heading {
      font-size: 24px;
    }
    .submit-request-lead {
      font-size: 20px;
      padding: 10px 10%;
      display: block;
    }
    .submit-request-form {
      margin-top: 0;
    }
  }
  .submit-request.feedback {
    .heading {
      display: block;
      margin-bottom: 35px;
    }
    .submit-request-lead {
      display: none;
    }
  }
  .submit-request.packages {
    background-color: #fff;
    padding-top: 50px;
      .heading {
        font-size: 24px;
        text-transform: uppercase;
        font-family: GothamProBold;
        color: #171616;
      }
    .heading-lead {
      font-size: 20px;
      padding: 10px 10%;
      display: block;
    }
  }
}

@media (min-width: 992px) {
  .submit-request {
    padding: 50px;
    text-align: center;
    background-color: white;
    .heading {
      text-transform: uppercase;
      font-family: GothamProBold;
      color: #171616;
      font-size: 24px;
    }
    .submit-request-form {
      width: 700px;
      margin: 0 auto;
      .submit-request-input {
        margin-top: 25px;
        padding: 25px;
        display: inline-block;
        border: 1px solid #D5A14F;
        color: black;
        outline: none;
        &[value=""] {
          color: #838383;
        }
        &:focus {
          color: black;
        }
        &.your-story {
          resize: none;
          outline: none;
          width:100%;
        }
        &.email {
          width:100%;
        }
        &.half-width {
          float: left;
          width:50%;
          &:first-of-type {
            border-right: none
          }
        }
      }
      .submit-request-form-button {
        border-radius: 10px;
        background-image: linear-gradient(to bottom, #eac37f, #bca05c);
        border: none;
        color: #fff;
        font-family: GothamProMedium;
        font-size: 18px;
        font-variant: all-small-caps;
        padding: 10px 25px;
        margin: 25px;
      }
    }
    .privacy-policy {
      font-family: ProximaNovaLight;
      padding: 0 10%;
      a {
        color: #2e333d;
        text-decoration: underline;
        text-decoration-color: #2e333d;
      }
    }
  }
  .submit-request.about-us {
    background-color: #f7f6f6;
    padding: 60px;
    .form-wrapper {
      padding: 50px;
      width: 800px;
      background-color: #fff;
      margin: 0 auto;
      span.h4.heading {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 0.1px;
      }
      span.submit-request-lead {
        display: block;
        font-size: 18px;
      }
    }
  }
  .submit-request.services,
  .submit-request.feedback {
    .heading{

      font-size: 24px;
      font-variant: normal;
      text-transform: none;
    }
    .heading-lead {
      font-family: ProximaNovaLight;
      font-size: 20px;
      .chosen-package, .options {
        color: #D5A14F;
      }
    }
  }
  .submit-request.feedback,
  .submit-request.contacts,
  .submit-request.about-us
  {
    .heading {
      font-family: GothamProBold;
      text-transform: uppercase;
    }
    span.submit-request-lead {
      display: block;
      font-size: 20px;
    }
  }
}