@media (max-width: 991px) {
  .team-slider {
    background-color: #f7f6f6;
    text-align: center;
    padding: 25px 0;
    .h3 {
      font-family: GothamProBold;
      font-variant: all-small-caps;
      font-size: 36px;
      margin-bottom: 25px;
    }
    .team-carousel {
      width: 100%;
      //-- slick dots for team slider
      ul.slick-dots {
        li {
          &.slick-active {
            button::before {
              color: #D5A14F;
            }
          }
          button::before {
            font-size: 40px;
            color: #9FA3A7;
          }
        }
      }
      //-- end of slick dots for team slider
      div.slick-list {
        .img-cover {
          text-align: center;
          margin: 40px auto 25px;
          height: 180px;
          width: 200px;
          clip-path: url('#CircleClip');
          img {
            display: initial !important;
          }
        }
          h5 {
            font-family: GothamProBold;
            text-shadow: none;
            font-size: 24px;
          }
          .lead {
            font-family: GothamProLight;
            font-size: 15px;
          }
          .team-member-description {
            font-family: ProximaNovaRegular;
            font-size: 17px;
            margin-bottom: 25px;
            padding: 0 15px;
          }
      }
    }
  }
}



@media (min-width: 992px) {
  .team-slider {
    background-color: #f7f6f6;
    text-align: center;
    padding: 50px 0;
    font-family: GothamProLight;

    ul.slick-dots {
      margin-top: 25px;
      li {
        &.slick-active {
          button::before {
            color: #D5A14F;
          }
        }
        button::before {
          font-size: 30px;
          color: #9FA3A7;
        }
      }
    }
    .h3 {
      font-family: GothamProBold;
      text-transform: uppercase;
      font-size: 24px;
    }
    .team-carousel {
      width: 100%;
      button.slick-prev.slick-arrow {
        width: 50px;
        height: 50px;
        left: 5% !important;
        z-index: 1;
        &:before {
          left: 5% !important;
          content: ',';
          font-family: 'weddingmovies';
          font-size: 45px;
          color: #D5A14F
        }
      }
      button.slick-next.slick-arrow {
        right: 5% !important;
        width: 50px;
        height: 50px;
        &:before {
          content: '.';
          font-family: 'weddingmovies';
          font-size: 45px;
          color: #D5A14F;
        }
      }
      .img-cover {
        text-align: center;
        margin: 40px auto 0;
        height: 180px;
        width: 200px;
        clip-path: url('#CircleClip');
        img {
          margin: 0 auto;
        }
      }

      div {
        h5 {
          font-family: GothamProBold;
          text-shadow: none;
          font-size: 24px;
        }
        .lead {
          font-family: GothamProRegular;
          font-size: 16px;
          margin-bottom: 30px;
        }
        .team-member-description {
          font-family: ProximaNovaRegular;
          font-size: 16px;
          width: 850px;
          margin: 0 auto 25px;
        }
      }
    }
  }
}